BODY
{
    FONT-SIZE: 14px;
    background-color: #f3f3f3;
    MARGIN: 20px 5px;
    COLOR: sienna;
}
P
{
    FONT-SIZE: 14px
}
TD
{
    FONT-SIZE: 14px
}
TD.title
{
	color: #303030;
	font-family: 楷体;
	font-size:16px;
	text-align:center;
}
TD.body
{
	font-family: 楷体;
	font-size:16px;
	color:blue;
}
A
{
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}
A:link,A:visited,A:active
{
    COLOR: #228b22;
}
A:hover
{
    COLOR: red;
}
